
<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, :class => 'form-control', :required => true %>
  </div>

  <div class="field">
    <%= form.label :question_type %>
    <%= form.select :question_type,  options_for_select([['Practice', 0], ['Exam', 1]], @question.question_type),
          {:include_blank => true, :selected_value => nil }, :class=>'form-control', :required => true %>
  </div>


  <div class="field" id="group-obs">
    <%= form.label :obs %>
    <%= form.text_field :obs, :class => 'form-control', :required => true %>
  </div>

  
  <div class="actions">
    <%= form.submit :class=>"btn btn-primary" %>
  </div>
<% end %>

<script>
$(document).ready(function(){
  $("#group-obs").hide();
  $("#question_question_type").change(function(e){
    if ($(this).val() === "0"){
      $("#group-obs").show('slow').children('label').html("Explanation");
      $("input[name='commit']").attr("disabled",false);
    }else if ($(this).val() === "1"){
      $("#group-obs").show('slow').children('label').html("Hint");
      $("input[name='commit']").attr("disabled",false);
    }else{
      $("#group-obs").hide('slow');
      $("input[name='commit']").attr("disabled",true);
    }
  });

});
</script>