<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Editing Question</h1>
            <%= render 'form', question: @question %>
            <%= link_to 'Show', @question %> |
            <%= link_to 'Back', questions_path %>
        </div>
    </div>
</div>



