<main role="main" class="container">

  <div class="starter-template">
    <h1>Questions</h1>
    
    <p class="lead">List of questions for practice and for exam.</p>
    <br>
    <p id="notice"><%= notice %></p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>[Hint | Explanation]]</th>
          <th>Question type</th>
          <th style="width:220px;">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% contador = 0 %>
        <% @questions.each do |question| %>
        <% contador += 1 %>
          <tr>
            <td class="text-left"><%= contador %>.<%= question.title %></td>
            <td><%= question.obs %></td>
            <td><% if question.question_type === 0 %>
                    <span class="badge badge-primary"><%= 'Practice Question' %></span>
                  <% else %>
                    <span class="badge badge-dark"><%= "Exam Question" %></span>
                  <% end %> 
            </td>      
            <td><%= link_to 'Show', question , :class => 'btn btn-sm btn-info', :style => 'color:white;' %>
                            <%= link_to 'Edit', edit_question_path(question), :class => 'btn btn-sm btn-primary', :style => 'color:white;' %>
              <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-sm btn-danger', :style => 'color:white;' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>    
  </div>
  <br>
  <%= link_to 'New Question', new_question_path, :class => 'btn btn-primary', :style => 'color:white;' %>

</main><!-- /.container -->
