<div class="container">
    <p id="notice"><%= notice %></p>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Editing Question</h1>
            <br>
            <label for="exampleInputEmail1">Title</label>
            <input class="form-control" value="<%= @question.title %>" disabled>
            <br>
            <label for="exampleInputEmail1"><%= @question.question_type == 0 ? "Hint" : "Explanation" %></label>
            <input class="form-control" value="<%= @question.obs %>" disabled>
            <br>
            <label for="exampleInputEmail1">Question type</label>
            <input class="form-control" value="<%= @question.question_type == 0 ? "Practice" : "Exam" %>" disabled>
            <br>

            <%= link_to 'Edit', edit_question_path(@question) %> |
            <%= link_to 'Back', questions_path %>

        </div>
    </div>
</div>




