 <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

<%= stylesheet_link_tag  'application-landing' %> 

<body class="body text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Exams 4 School</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Landing page</a>
        <a class="nav-link" href="exams">Tests</a>
        <a class="nav-link" href="questions">Questions</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">My First RoR Code</h1>
    <p class="lead">Exams Generator for School Teachers</p>
    <p class="lead">
      <a href="exams" class="btn btn-lg btn-secondary">Exams</a>
      <a href="questions" class="btn btn-lg btn-secondary">Questions</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
    <style>
    a{
      color:white;
    }
    </style>
      <p>Developed by <a href="mailto:guidoquadrini@gmail.com">Guido Nicolas QuadriniBootstrap</a>, Tel: <a href="tel:+31684622253">+31 684622253</a>.</p>
    </div>
  </footer>
</div>
</body>
