
<%= form_with(model: exam, local: true) do |form| %>
  <% if exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, :class => 'form-control', :required => true %>
  </div>

  <div class="field">
    <%= form.label :exam_type %>
    <%= form.select :exam_type,  options_for_select([['Practice', 0], ['Exam', 1]], @exam.exam_type),
          {:include_blank => true, :selected_value => nil }, :class=>'form-control', :required => true %>
  </div>

  <div class="actions">
    <%= form.submit :class=>"btn btn-primary" %>
  </div>
<% end %>
