<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Editing Exam</h1>
            <%= render 'form', exam: @exam %>
            <%= link_to 'Show', @exam %> |
            <%= link_to 'Back', exams_path %>
        </div>
    </div>
</div>