<main role="main" class="container">

  <div class="starter-template">
    <h1>Tests</h1>
    
    <p class="lead">List of test for practice and for exam.</p>
    <br>
    <p id="notice"><%= notice %></p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Exam type</th>
          <th style="width:220px;">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% contador = 0 %>
        <% @exams.each do |exam| %>
        <% contador += 1 %>
          <tr>
            <td class="text-left"><%= contador %>.<%= exam.name %></td>
            <td><% if exam.exam_type === 0 %>
                    <span class="badge badge-primary"><%= 'Practice Test' %></span>
                  <% else %>
                    <span class="badge badge-dark"><%= "Exam Test" %></span>
                  <% end %> 
            </td>
            <td><%= link_to 'Show', exam , :class => 'btn btn-sm btn-info', :style => 'color:white;' %>
            <%= link_to 'Edit', edit_exam_path(exam), :class => 'btn btn-sm btn-primary', :style => 'color:white;' %>
            <%= link_to 'Destroy', exam, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-sm btn-danger', :style => 'color:white;' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>

  <%= link_to 'New Exam', new_exam_path, :class => 'btn btn-primary', :style => 'color:white;' %>

</main><!-- /.container -->


