<div class="container">
    <p id="notice"><%= notice %></p>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Editing Exam</h1>
            <br>
            <label for="exampleInputEmail1">Name</label>
            <input class="form-control" value="<%= @exam.name %>" disabled>
            <br>
            <label for="exampleInputEmail1">Exam Type</label>
            <input class="form-control" value="<%= @exam.exam_type == 0 ? "Practice" : "Exam" %>" disabled>
            <br>

            <%= link_to 'Edit', edit_exam_path(@exam) %> |
            <%= link_to 'Back', exams_path %>
        </div>

        <div class="col-md-8 offset-md-2">
            
            <br>
            <table class="table table-striped">
      <thead>
        <tr>
          <th style="width:220px;">Questions in the Test</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% contador = 0 %>
        <% @questions.each do |question| %>
        <% contador += 1 %>
          <tr>
          <td colspan="2">
            <h6 class="text-left"><%= contador %>.<%= question.title %></h6>
            <%= @exam.exam_type == 0 ? "Hint" : "Explanation" %>: <span style="font-style:oblique;"><%= question.obs %><span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
            <%= link_to 'Back', exams_path %>
        </div>
    </div>
</div>





